.form-container {
  height: 90vh;
}

.form-background {
  background: url('../images/bg.png') no-repeat;
  height: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-size: cover;
}

.form-card {
  position: absolute;
  width: 30%;
  top: 25%;
  left: 33%;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  font-family: 'Itim', cursive;
  filter: none;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  background: #fafafa;

}

.form-text {
  padding-top: 5px;
  letter-spacing: 3px;
  color: #be2a92;
}

.form-control {
  border: none;
  border-bottom: 1px solid #2779b4;
  height: 30px;
  width: 200px;
  margin: 30px auto 10px auto;
  background-color: transparent;
  color: #2779b4;
  font-family: 'Itim', cursive;
  font-size: 20px;
  text-align: center;
}

::placeholder {
  color: #2779b4;
  font-family: 'Itim', cursive;
  font-size: 20px;
}

.form-button {
  margin: 40px auto;
  border-radius: 50px;
  font-family: 'Itim', cursive;
  font-size: 25px;
  color: white;
  border: none;
  padding: 5px 60px;
  background: #be2a92;
  background: linear-gradient(90deg, rgba(176,88,136,1) 1%, rgba(190,42,146,1) 51%, rgba(145,48,147,1) 100%);
}

.form-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .form-card {
    width: 70%;
    left: 15%;
  }
}

@media only screen and (min-width: 1250px) {
  .form-card {
    width: 20%;
  }
}