.navbar {
    display: flex;
    justify-content: space-around;
    background-color: red;
    font-family: 'Itim', cursive;
    font-size: 12px;
    color: white;
    background: #b05888;
    background: linear-gradient(90deg, rgba(176,88,136,1) 1%, rgba(190,42,146,1) 51%, rgba(145,48,147,1) 100%);
}

.name {
    color: #2d19a5;
}

.title {
    letter-spacing: 1px;
}

.audio {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background-color: #2779b4;
    border-radius: 50px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .navbar {
        font-size: 6px;
    }
    .audio {
        width: 20px;
        height: 20px;
        margin-top: 5px;
        background-color: #2779b4;
        border-radius: 50px;
    }
}