.endgame-container {
  height: 90vh;
}

.endgame-card {
  position: absolute;
  width: 30%;
  top: 20%;
  left: 40%;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  font-family: 'Itim', cursive;
  filter: none;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  background: #fafafa;
}

.endgame-text {
  padding-top: 5px;
  letter-spacing: 3px;
  color: #be2a92;
}

.endgame-button {
  margin: 40px auto;
  border-radius: 50px;
  font-family: 'Itim', cursive;
  font-size: 25px;
  color: white;
  border: none;
  padding: 5px 45px;
  background: #be2a92;
  background: linear-gradient(90deg, rgba(176,88,136,1) 1%, rgba(190,42,146,1) 51%, rgba(145,48,147,1) 100%);
}

.endgame-button:hover {
  cursor: pointer;
}

.endgame-guesses {
  padding-top: 5px;
  margin-bottom: -15px;
  color: #2779b4;
}

.endgame-guesses-num {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #2779b4;
  color: #fafafa;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .endgame-container {
    font-size: 12px;
  }
  .endgame-card {
    width: 70%;
    left: 15%;
  }
  .endgame-button {
    padding: 5px 30px;
  }
  .endgame-guesses-num {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (min-width: 1250px) {
  .endgame-card {
    width: 20%;
  }
}