img {
    height: 100px;
    width: 150px;
    /* visibility: hidden; */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}
/* 
.card {
    background: url('../images/card_back.png');
} */

.hide-cards {
    visibility: hidden;
}